* {
    background-color: aqua;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

.container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 30vh;
}

img {
    max-width: 50%; 
    max-height: 50%; 
    border-radius: 10px;
}

.tasks-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px; 
}

.tasks {
    flex: 1; 
}

.giphy-container {
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    margin-right: 300px; 
    margin-bottom: 500px;
}


.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 400px; 
}

.unique_task {
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        margin-bottom: 800px;
}

.token-img {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    max-width: 100%; 
    border-radius: 10px;
    padding-bottom: 40px;
}

.user-img {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    max-width: 100%; 
    border-radius: 10px;
    padding-bottom: 40px;
}

.create-task-img {
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    max-width: 100%; 
    border-radius: 10px;
    padding-bottom: 40px;
}